
. {
	width: auto;
}

.indented {
	padding-left: 3em;
}

.example {
		border:3px dashed #d5d5d5;
		background-color: #EFFBFB;
		padding-left: 2em;
}

.hidden {
		border:2px dashed #d5d5d5;
		background-color: #F7F8E0;
		padding: 2em;
		display: none;
}

.positive {
	background-image: url('yes.png');
	background-repeat: repeat-y;
}

.negative {
	background-image: url('no.png');
	background-repeat: repeat-y;
}
